.git
.github
.DS_Store

node_modules
**/node_modules

.env
.env.*

artifacts
coverage
**/coverage
dist
**/dist
.next
**/.next
out
**/out

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
