# deps
node_modules/

# env
.env
.env.*
!apps/api/.env.test
!docker/.env.app.local.example
!docker/.env.app.prod
docker/.env.local
docker/.env.app.local

# builds
dist/
.next/
out/
coverage/
*.tsbuildinfo
apps/ui/next-env.d.ts

# logs / OS
*.log
.DS_Store

artifacts/

# terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log

# playwright
playwright-report/
test-results/
